<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to Chipper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="normalize.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body class="dash">
    <div class="container dash-container"> 
        <header class="main-header dash-header">
            <nav>
                <ul>
                    <li>
                        <img class="setup-status" src="images/setup checklist.png" alt="setup: completed 3 of 6">
                    </li>
                    <li>
                        <a class="nav__link" href="" aria-label="Help"><i class="fa fa-question nav-icon"></i></a>
                    </li>
                    <li>
                        <a class="nav__link" href="" aria-label="Message us"><i class="fa fa-comment nav-icon"></i></i></a>
                    </li>
                </ul>
            </nav>
            <h1>Hello! Chuck</h1>
            <p class="savings">$180</p>
            <p>At this pace you will save X on interest and repay in X years</p>
            <div class="saved-menu">

            </div>
        </header>
        <main class="dash-main">
            <h2>Round-Ups</h2>
            <select>This Week</select>
            <div class="round-up__graph">

            </div>
            <form action="">
                <button action="submit" class="btn">Make a one time payment</button>
            </form>
        </main>
        <footer class="main-footer">
            <a href="" class="menu-link"><i class="fa fa-home menu-icon" aria-label="home"></i></a>
            <a href="" class="menu-link"><i class="fa fa-refresh menu-icon" aria-label="transactions"></i></a>
            <a href="" class="menu-link menu-icon menu-icon-image" aria-label="saving settings"></a>
            <a href="" class="menu-link"><i class="fa fa-users menu-icon" aria-label="pool"></i></a>
            <a href="" class="menu-link"><i class="fa fa-cog menu-icon" aria-label="settings"></i></a>
        </footer>
    </div> <!--end container-->
</body>
</html>