/*used once logged into the main site.
Pages include:
    dashboard
    transactions
    saving settings
    pool
    settings
*/

.main-footer {
    background-color: white;
    height: 95px;
    width: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;

    .menu-icon {
        font-size: 22px;
        color: $very-light-purple;
        padding: 0;

        &:hover,
        &:focus,
        &:active {
            box-shadow: none;
            color: $button-dark-purple;
        }
    }

    //saving settings because an icon didn't exist. switches pic on hover to darker version
    .menu-icon-image {
        display: block;
        height: 30px;
        width: 30px;
        background-image: url(../images/saving-setting-light.png);
        background-size: contain;
    
        &:hover,
        &:focus,
        &:active {
            background-image: url(../images/saving-setting-dark.png);
        }
    }
}

.footer-container {
    background-color: $very-light-grey;
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    border-radius: 35px;
}