/*colors*/
$light-purple: #646DD6;
$medium-purple: #4953CF;
$icon-bkg: #5c65db;
$button-dark-purple: #373FA3;
$dark-purple: #313670;
$very-dark-purple: #1B2166;
$very-light-purple: #9EA1CA;
$white-purple: #F3F3FA;
$text-light: #E0E1F7;
$nav-icon: #EFEFF8;
$white-background: #FBFBFB;
$very-light-grey: #F3F3F3;
$white-grey: #E2E2E2;
$grey: #535353;
$medium-grey: #646464;
$light-grey: #8D8D8D;
$stone-grey: #A0A0A0;
$lighter-grey: #E6E6E6;
$neon-green: #48CFC6;
$green: #34D885;
$pink: #EC8FB2;
$hot-pink: #FF498C;

@mixin focus {
    box-shadow: 0 0 5px 5px $neon-green;
    outline: none;
}

@import "general";
@import "header";
@import "footer";
@import "containers";
@import "dropdown";
@import "components";

/*General*/
.input-group {
    position: relative;
}

.form__field {
    padding: 0 15%;
    background-color: $light-purple;
    height: 40px;
    width: 70%;
    border-radius: 8px;
    margin: 10px 0;

    &:hover,
    &:focus,
    &:active {
        @include focus;
    }

    &::placeholder {
        color: $text-light;
    }
}

.icon {
    position: absolute;
    color: $text-light;
    font-size: 25px;
    line-height: 60px;
    padding: 0 2%;
}

.icon-danger {
    color: black;
    position: absolute;
    right: 0;
}

/*//////////Sign Up Page//////////*/
#sign-up {
    margin: 25px 0;
}

.label-birthday {
    display: block;
    margin: 15px 0 5px;
}

.bd-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .birthday-dropdown {
        width: 30%;
        padding: 5px;
        color: $text-light;
    }
}

/*//////////Sign In Page//////////*/

#sign-in {
    .forgot-pw {
        float: right;
    }
}

/*//////////Questionnaire//////////*/
//div containing question buttons
.question-options {
    position: relative;

    .q-btn {
        background-color: $medium-purple;
        color: white;
        border: solid 1px white;
        height: 80px;
        border-radius: 10px;
        padding: 10px 40px 10px 20px;
        text-align: left;
        font-size: 16px;
        font-weight: 300;
        line-height: 17px;
        margin: 20px 0;

        &:hover,
        &:focus {
            background: white;
            text-decoration: none;
            color: $very-dark-purple;
            font-weight: 500;
            box-shadow: none;
        }
    }

    .q-icon {
        display: block;
        position: absolute;
        right: 5%;
        font-size: 40px;
        height: 40px;
        top: 25%;
    }
}

/*//////////Welcome Page//////////*/
.welcome-slider {
    width: 86%;
    border-radius: 20px;
    background-color: white;
    padding: 15% 7% 10%;
    text-align: center;

    .welcome-header {
        color: $dark-purple;
        text-align: left;
        width: 90%;
        line-height: 35px;
    }

    img {
        height: 200px;
        padding: 35px 0 50px;
    }

    h2 {
        color: $grey;
        text-align: left;
        font-size: 18px;
        padding-bottom: 10px;
    }

    p {
        color: $grey;
        line-height: 22px;
    }

    button {
        margin-bottom: 0;
        background-color: $button-dark-purple;
        color: white;
    }
}

.dot {
    height: 10px;
    width: 10px;
    margin: 8px 2px 20px 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active,
.dot:hover {
    width: 20px;
    border-radius: 20px;
}

.welcome-text {
    text-align: center;
    line-height: 50px;

    :first-child {
        background-color: white;
        color: $dark-purple;
    }

    .welcome-btn {
        display: block;
        margin: 5px 0;
    }
}

/*//////////General Main Site//////////*/
.main-site-main {
    //overall white container
    border-radius: 35px;
    background: white;
    width: 80%;
    color: $dark-purple;
    padding: 5% 10%;
    position: relative;
    z-index: 2;

    .h2 {
        font-size: 14px;
        font-weight: 500;
        text-align: left;
    } 
}

/*//////////Dashboard Page//////////*/
.dash-main {
    min-height: calc(100vh - 115px - 373px);

    .round-up__graph {
        margin-top: 20px;
    }

    //button to make a one time payment
    .dash-btn {
        width: 100%;
        background: $button-dark-purple;
        color: white;
        margin: 30px 0 0;
    }

    //button to link bank account
    #linkAccount {
        display: none;
    }

    //icon showing when you make a one time payment

    #paymentDisplay {
        position: relative;

        .linked-icon-container {
            border-radius: 50%;
            background-color: $white-background;
            position: absolute;
            width: 120px;
            height: 120px;
            line-height: 140px;
            top: -65px;
            left: 50%;
            margin-left: -60px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            i::before {
                font-size: 80px;
                border-radius: 50%;
                height: 80px;
                width: 80px;
                text-align: center;
                display: block;
            }
    
            .alert-not-linked::before {
                color: $pink;
                border: solid 10px $pink;
            }
    
            .alert-linked::before {
                color: $green;
                border: solid 10px $green;
            }
        }
    
        //content displaying when you go to make a one time payment
        .linked-content {
            width: 90%;
            text-align: center;
            border-radius: 15px;
            background: $white-background;
            border: solid 1px $light-grey;
            box-shadow: 0 1px 5px 2px $light-grey;
            padding: 20% 5% 5%;
            margin-top: 50px;
            p {
                color: $light-grey;
                font-size: 20px;
            }
        }  
    }
    
}

/*//////////General List Used by Transactions & Pool Page//////////*/
.general__list-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;

    .general__list-item-title {
        font-size: 16px;
        font-weight: 400;
        color: $grey;
    }

    .general__list-item-price {
        color: $grey;
        font-weight: 600;
    }
}

/*//////////Transactions Page//////////*/
.trans-summary {
    display: flex;

    .trans-summary__today {
        width: 30%;

        .trans-summary__today__value {
            position: relative;
            height: 50px;
            margin: 40px 0 0;

            .today__value--dollar {
                font-size: 25px;
                font-weight: 500;
                align-self: flex-start;
            }

            .today__value--main {
                font-size: 50px;
                font-weight: 500;
                position: absolute;
                top: -10px;
                left: 20%;
            }

            .today__value--cents {
                font-size: 20px;
                position: absolute;
                bottom: 0;
                left: 50%;
            }
        }

        .trans-summary__today--text {
            font-size: 10px;
            text-align: center;
        }
    }
}

.transaction__items {
    margin: 20px 0;

    h2 {
        font-weight: 600;
    }
}

.details__list--item {
    color: $light-grey;
    margin: 10px 20px;
    padding: 0;

    .details-title {
        font-weight: 400;
    }

    .details-amount {
        font-weight: 600;
    }

    .details__time-title {
        font-weight: 300;
        font-size: 12px;
    }

    .details__time-time {
        font-size: 12px;
    }
}

.details__time {
    margin-top: 20px;

    li {
        margin: 5px 20px;
    }
}

.details-active {
    background-color: $white-purple;
    border-radius: 10px;
}

/*//////////Pool Page//////////*/

.pool-summary {
    text-align: center;

    .pool-summary__amount {
        position: relative;
        height: 70px;

        .pool__value--dollar {
            font-size: 26px;
            font-weight: 500;
            position: absolute;
            top: 10px;
            left: 30%;
        }
    
        .pool__value--main {
            font-size: 50px;
            font-weight: 500;
            position: absolute;
            top: 0;
            left: 35%;
        }
    }

    .pool-summary__text {
        font-size: 12px;
    }
}

.month-slider {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 15px 0 0;
    height: 30px;

    .month-slide {
        height: 30px;
        width: 70px;
        text-align: center;
        border-radius: 20px;
        font-size: 12px;
        line-height: 30px;
    }

    .month--active {
        display: block;
        background-color: $button-dark-purple;
        position: absolute;
        left: 50%;
        margin-left: -35px;
    }

    .month--left {
        position: absolute;
        left: 15%;
    }

    .month--right {
        position: absolute;
        right: 15%;
    }

    .month--hidden {
        display: none;
    }

    .month-slider__btn {
        background-color: $medium-purple;
        color: white;
        font-size: 20px;
        display: inline;
        position: absolute;
        top: 1px;
    }

    .btn--left {
        left: 5%;
    }

    .btn--right {
        right: 5%;
    }
}

.arrow__icon {
    &:focus {
        outline: none;
    }

    &:active {
        transform: translateY(4px);
    }
}

.expand__page {
    font-size: 30px;
    color: $stone-grey;
    width: 100%;
    text-align: center;
    height: 20px;
    line-height: 20px;
    background-color: white;

    i {
        line-height: 20px;
    }
}

.expanded {
    min-height: 100vh;
}

#poolMain {
    transition: min-height 0.4s;
}

.h2__pool {
    font-size: 20px;
    font-weight: 500;
}

.pool_type {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 30px;

    .pool_type-btn {
        width: 30%;
        font-weight: 300;
        font-size: 12px;
        height: 30px;
        border: solid 1px $medium-grey;
        background-color: white;
        color: grey;
        margin: 0;

        &:focus {
            background-color: $white-grey;
            box-shadow: none;
            text-decoration: none;
        }
    }
}

.pool__list-item-title {
    width: 20%;
}

.pool_invite-btn {
    background-color: $button-dark-purple;
    color: white;
    height: 40px;
    font-size: 12px;
    margin: 40px 0 10px;
}

