<!DOCTYPE html>
<html>
<head>
    <title>Cheaper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="normalize.css" rel="stylesheet" type="text/css">
    <link href="css/compiled.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container"> 
        <header>
            <div class="title">
                <img class="logo" src="images/so cheap icon.png" alt="Cheaper">
                <h1>Cheaper</h1>
            </div>
            <p class="tagline">Chip Away Student Debt Smarter & Faster?</p>
        </header>
        <main>
            <form id="sign-in" action="questionnaire.html">
                <input type="email" class="form__field" aria-label="email" placeholder="Email">
                <input type="password" class="form__field" aria-label="password" placeholder="Password">
                <a class="forgot-pw" href="">Forgot Password</a>
                <button type="submit" class="btn">Sign In</button>
                <p>New to Chipper? <a href="signUp.html">Create an account</a></p>
            </form>
        </main>
    </div>
    
</body>
</html>